.slider-btn{
	background-color: white;
	width: 224px; 
	display: flex;
	justify-content: space-between;
}

.swiper-wrapper{
	margin-bottom: 30px;
}

.slider-slide{
	width: auto;
}
 .slider2-slide{
		height: 160px;
		flex-direction: column;
}
.slider2 .swiper-slide img{
	align-self: flex-end;
}

.item__btn{
	background-color: #FF3E79;
	border-radius: 50px;
	height: 32px;
}

.slider-title{
	background-color: white;
	text-transform: uppercase;
	color: #7E7E82;
	font-size: 16px;
	line-height: 24px;
	padding: 16px;
	margin: 16px 0;
}

.swiper-pagination-bullet {
	margin: 16px 12px;
	min-height:12px;
	min-width:12px;
}
.swiper-pagination-bullet-active {
	background-color: #B5B6BC;
}
.swiper + .read-more-btn{
	display: none;
}

.read-more-btn__icon--rotate{
	transform:rotate(180deg);
	padding-left: 16px;
	padding-right: 0;
}
@media (min-width: 768px) {
	.swiper + .read-more-btn{
		display: block;
	}

.swiper-wrapper{
	display: flex;
	gap:16px;
	margin: 0;
	flex-wrap: wrap;
}

.slider--hidden{
	max-height: 180px;
	overflow : hidden;
}
.slider2--hidden{
	max-height: 200px;
	overflow : hidden;
}
}
